In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Reading the data
df1=pd.read_csv("C:/Users/ayush/Desktop/deliveries.csv")
df1.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [4]:
# Reading the data
df=pd.read_csv("C:/Users/ayush/Desktop/matches.csv")
df.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [5]:
df.shape
df.info()
df.describe()
df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               756 non-null    int64
 1   season           756 non-null    int64
 2   city             749 non-null    object
 3   date             756 non-null    object
 4   team1            756 non-null    object
 5   team2            756 non-null    object
 6   toss_winner      756 non-null    object
 7   toss_decision    756 non-null    object
 8   result           756 non-null    object
 9   dl_applied       756 non-null    int64
 10  winner           752 non-null    object
 11  win_by_runs      756 non-null    int64
 12  win_by_wickets   756 non-null    int64
 13  player_of_match  752 non-null    object
 14  venue            756 non-null    object
 15  umpire1          754 non-null    object
 16  umpire2          754 non-null    object
 17  umpire3          119 non-null    object
dtypes: int64(5), object(13)
memory usage: 106.4+ KB

Index(['id', 'season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2',
       'umpire3'],
      dtype='object')

In [6]:
# Cleaning the data

df.isnull().sum()
df.isnull().sum().sum()

656

In [7]:
# Removing duplicate values

df.duplicated().sum()
df.drop_duplicates(inplace=True)
df.duplicated().sum()

0

In [8]:
# Statistical information of the data

df.describe()

                 id       season  dl_applied  win_by_runs  win_by_wickets
count    756.000000   756.000000  756.000000   756.000000      756.000000
mean    1792.178571  2013.444444    0.025132    13.283069        3.350529
std     3464.478148     3.366895    0.156630    23.471144        3.387963
min        1.000000  2008.000000    0.000000     0.000000        0.000000
25%      189.750000  2011.000000    0.000000     0.000000        0.000000
50%      378.500000  2013.000000    0.000000     0.000000        4.000000
75%      567.250000  2016.000000    0.000000    19.000000        6.000000
max    11415.000000  2019.000000    1.000000   146.000000       10.000000

In [10]:
# 1. Total number of innings of the matches played

df1['inning'].value_counts()

1    92742
2    86240
3       50
4       38
5        8
Name: inning, dtype: int64

In [11]:
# 2. How many IPL seasons are we using to analyse ?

df['season'].nunique()

12

In [12]:
# 3. Total number of matches played according to the dataset

df['id'].count()

756

In [13]:
# 4. Which IPL team won by maximum runs?

df.loc[df['win_by_runs'].idxmax()]['winner']

'Mumbai Indians'

In [14]:
# 5. Which IPL team won by minimum runs ?

df.loc[df['win_by_runs'].idxmin()]['winner']

'Rising Pune Supergiant'

In [15]:
# 6. Which IPL team won by consuming maximum wickets?

df.loc[df['win_by_wickets'].idxmax()]['winner']

'Kolkata Knight Riders'

In [16]:
# 7. Which IPL team won by consuming minimum wickets?

df.loc[df['win_by_wickets'].idxmin()]['winner']

'Sunrisers Hyderabad'

In [35]:
# 23. Which season consisted of the highest number of matches ever played ?

df['season'].value_counts().idxmax()

2013

In [36]:
# 24. Which is the most successful IPL team with all the data at hand?

df['winner'].value_counts().idxmax()

'Mumbai Indians'

In [37]:
# 25. Top players of winning matches

df['player_of_match'].value_counts().head(10)

CH Gayle          21
AB de Villiers    20
RG Sharma         17
MS Dhoni          17
DA Warner         17
YK Pathan         16
SR Watson         15
SK Raina          14
G Gambhir         13
MEK Hussey        12
Name: player_of_match, dtype: int64

In [38]:
# 26. Matches according to venue

df['venue'].value_counts().head(10)

Eden Gardens                                  77
M Chinnaswamy Stadium                         73
Wankhede Stadium                              73
Feroz Shah Kotla                              67
Rajiv Gandhi International Stadium, Uppal     56
MA Chidambaram Stadium, Chepauk               49
Sawai Mansingh Stadium                        47
Punjab Cricket Association Stadium, Mohali    35
Maharashtra Cricket Association Stadium       21
Subrata Roy Sahara Stadium                    17
Name: venue, dtype: int64

In [39]:
# 27. The number of matches played by each team

df['team1'].value_counts()

Mumbai Indians                 101
Kings XI Punjab                 91
Chennai Super Kings             89
Royal Challengers Bangalore     85
Kolkata Knight Riders           83
Delhi Daredevils                72
Rajasthan Royals                67
Sunrisers Hyderabad             63
Deccan Chargers                 43
Pune Warriors                   20
Gujarat Lions                   14
Rising Pune Supergiant           8
Kochi Tuskers Kerala             7
Rising Pune Supergiants          7
Delhi Capitals                   6
Name: team1, dtype: int64

In [40]:
df['team2'].value_counts()

Royal Challengers Bangalore    95
Kolkata Knight Riders          95
Delhi Daredevils               89
Mumbai Indians                 86
Kings XI Punjab                85
Rajasthan Royals               80
Chennai Super Kings            75
Sunrisers Hyderabad            45
Deccan Chargers                32
Pune Warriors                  26
Gujarat Lions                  16
Delhi Capitals                 10
Rising Pune Supergiant          8
Kochi Tuskers Kerala            7
Rising Pune Supergiants         7
Name: team2, dtype: int64

In [41]:
# 28. The winners in each Season

df.groupby(['season'])['winner'].value_counts()

season  winner
2008    Rajasthan Royals               13
        Kings XI Punjab                10
        Chennai Super Kings             9
        Delhi Daredevils                7
        Mumbai Indians                  7
                                       ..
2019    Kings XI Punjab                 6
        Kolkata Knight Riders           6
        Sunrisers Hyderabad             6
        Rajasthan Royals                5
        Royal Challengers Bangalore     5
Name: winner, Length: 100, dtype: int64

In [42]:
# 29. IPL Finals venues and winners along with the number of wins.

df.groupby(['venue','winner'])['id'].count()

venue             winner
ACA-VDCA Stadium  Chennai Super Kings            1
                  Delhi Capitals                 1
Barabati Stadium  Deccan Chargers                3
                  Kings XI Punjab                1
                  Kolkata Knight Riders          3
                                                ..
Wankhede Stadium  Rajasthan Royals               4
                  Rising Pune Supergiant         2
                  Rising Pune Supergiants        1
                  Royal Challengers Bangalore    3
                  Sunrisers Hyderabad            1
Name: id, Length: 246, dtype: int64

In [43]:
# 30. The number of seasons won by each team

df.groupby(['winner'])['season'].value_counts()

winner               season
Chennai Super Kings  2013      12
                     2011      11
                     2018      11
                     2012      10
                     2014      10
                               ..
Sunrisers Hyderabad  2018      10
                     2017       8
                     2015       7
                     2014       6
                     2019       6
Name: season, Length: 100, dtype: int64

In [44]:
# 31. The toss winner, toss decision, winner in final matches.

df.groupby(['toss_winner','toss_decision','winner'])['id'].count()

toss_winner          toss_decision  winner
Chennai Super Kings  bat            Chennai Super Kings            30
                                    Deccan Chargers                 1
                                    Delhi Daredevils                3
                                    Kings XI Punjab                 1
                                    Kolkata Knight Riders           4
                                                                   ..
Sunrisers Hyderabad  field          Kolkata Knight Riders           3
                                    Mumbai Indians                  1
                                    Rising Pune Supergiant          1
                                    Royal Challengers Bangalore     2
                                    Sunrisers Hyderabad            15
Name: id, Length: 187, dtype: int64

In [45]:
# 32. The man of the match for each winning team

df.groupby(['winner','player_of_match'])['id'].count()

winner               player_of_match
Chennai Super Kings  A Nehra            3
                     AT Rayudu          2
                     BB McCullum        2
                     BW Hilfenhaus      2
                     DE Bollinger       2
                                       ..
Sunrisers Hyderabad  PA Patel           2
                     Rashid Khan        7
                     S Dhawan           3
                     TA Boult           1
                     Yuvraj Singh       1
Name: id, Length: 325, dtype: int64

In [46]:
# 33. Decision in every toss either fielding or batting

df['toss_decision'].value_counts()

field    463
bat      293
Name: toss_decision, dtype: int64

In [47]:
# 34. What is the probability of winning a match if the toss was won?

df['toss_winner'] == df['winner']

0      False
1       True
2       True
3       True
4       True
       ...
751     True
752    False
753     True
754     True
755     True
Length: 756, dtype: bool

In [59]:
# 35. The top 10 leading run scorers in IPL

df1.groupby(['batsman'])['batsman_runs'].sum().sort_values(ascending=False).head(10)

batsman
V Kohli           5434
SK Raina          5415
RG Sharma         4914
DA Warner         4741
S Dhawan          4632
CH Gayle          4560
MS Dhoni          4477
RV Uthappa        4446
AB de Villiers    4428
G Gambhir         4223
Name: batsman_runs, dtype: int64